{%extends 'administrator/admin.html'%}
{%block body%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="https://cdn.tailwindcss.com"></script>
<style>
    .container ul li{
         background-color: aqua;
         border: 15px solid rebeccapurple ;
         padding: 10px;
         list-style: none;
         margin-bottom: 10px;
         display: flex;
     }
 </style>
 <div class="container">
{%for bill in billdet%}

<ul>
    <form action="{%url 'viewbill' bill.pk %}" method="POST">
        {%csrf_token%}
    <li style="background-color: aqua;">
        <div class="container">
            <strong>Appoint ID : </strong>{{bill.appoint_id.pk}}
            <strong>Patient: </strong>{{bill.pid.fname}} {{bill.pid.lname}}<br>
        </div>
        <div class="container text-end">
            <input type="submit" value="View" class="btn btn-secondary" style="background-color:grey ;">
        </div>
    </li>
</form>
</ul>
{%endfor%}
</div>
{%endblock%}